Repository puppetlabs/puppet, pull requests merged in 2019-03, with the labels that each got.

#7415 (PUP-9511) Log an exec's "creates" check to debug
  lib/puppet/type/exec.rb
  spec/unit/type/exec_spec.rb
Labels: puppet-org

#7403 (L10n) Updating translations for locales/ja/puppet.po
  locales/ja/puppet.po
Labels: i18N

#7404 (L10n) Updating 6.0.x translations for locales/ja/puppet.po
  locales/ja/puppet.po
Labels: i18N

#7400 (PUP-9337) Update mode check to treat FullControl as insync for windows SYSTEM user
  lib/puppet/provider/file/windows.rb
  lib/puppet/type/file/mode.rb
  lib/puppet/util/windows/security.rb
  spec/integration/provider/file/windows_spec.rb
  spec/integration/type/file_spec.rb
Labels: Windows

#7414 (PUP-9512) Allow discovering and loading of YAML plans
  lib/puppet/loaders.rb
  lib/puppet/pops/loader/generic_plan_instantiator.rb
  lib/puppet/pops/loader/loader_paths.rb
  lib/puppet/pops/loader/module_loaders.rb
  spec/unit/pops/loaders/loader_spec.rb
Labels: puppet-org

#6864 (PUP-8586) Improve missing library debug message
  lib/puppet/util/connection.rb
  lib/puppet/util/feature.rb
  spec/unit/util/feature_spec.rb
Labels: puppet-org

#7433 (PUP-9497) Deprecate fine grained control of file and environment tim…
  lib/puppet/defaults.rb
Labels: Server
